<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
<!--
.style8 {font-size: 14px}
-->
</style>
</head>

<body>
<label></label>
<table width="1316" height="99" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="26" bgcolor="#99CC00"><form action="" method="post" enctype="multipart/form-data" name="form1" class="style8" id="form1">
      <label><br />
      คำค้น
        <input type="text" name="textfield" id="textfield" />
      </label>
      
      หรือ แยกตาม
      <label></label>
  <span class="style8">
  <select name="select" size="1">
    <option value="ทุนรายได้มหาวิทยาลัย">&#3607;&#3640;&#3609;&#3619;&#3634;&#3618;&#3652;&#3604;&#3657;&#3617;&#3627;&#3634;&#3623;&#3636;&#3607;&#3618;&#3634;&#3621;&#3633;&#3618;</option>
    <option value="ทุนกองทุนพระไภสัชฯ">&#3607;&#3640;&#3609;&#3585;&#3629;&#3591;&#3607;&#3640;&#3609;&#3614;&#3619;&#3632;&#3652;&#3616;&#3626;&#3633;&#3594;&#3631;</option>
    <option value="ทุนพระมหิตลาธิเบศ">&#3607;&#3640;&#3609;&#3614;&#3619;&#3632;&#3617;&#3627;&#3636;&#3605;&#3621;&#3634;&#3608;&#3636;&#3648;&#3610;&#3624;</option>
    <option value="ทุนโอสธสภา">&#3607;&#3640;&#3609;&#3650;&#3629;&#3626;&#3608;&#3626;&#3616;&#3634;</option>
    <option value="ทุนองค์การเภสัชกรรม">&#3607;&#3640;&#3609;&#3629;&#3591;&#3588;&#3660;&#3585;&#3634;&#3619;&#3648;&#3616;&#3626;&#3633;&#3594;&#3585;&#3619;&#3619;&#3617;</option>
    <option value="ทุน 3 จังหวัดชายแดนใต้">&#3607;&#3640;&#3609; 3 &#3592;&#3633;&#3591;&#3627;&#3623;&#3633;&#3604;&#3594;&#3634;&#3618;&#3649;&#3604;&#3609;&#3651;&#3605;&#3657;</option>
    <option value="ทุนหอการค้าไทย-อเมริกันแห่งประเทศไทย">&#3607;&#3640;&#3609;&#3627;&#3629;&#3585;&#3634;&#3619;&#3588;&#3657;&#3634;&#3652;&#3607;&#3618;-&#3629;&#3648;&#3617;&#3619;&#3636;&#3585;&#3633;&#3609;&#3649;&#3627;&#3656;&#3591;&#3611;&#3619;&#3632;&#3648;&#3607;&#3624;&#3652;&#3607;&#3618;</option>
    <option value="ทุนวีระภุชงค์">&#3607;&#3640;&#3609;&#3623;&#3637;&#3619;&#3632;&#3616;&#3640;&#3594;&#3591;&#3588;&#3660;</option>
    <option value="ทุนบริษัทอาร์เอ็กซ์">&#3607;&#3640;&#3609;&#3610;&#3619;&#3636;&#3625;&#3633;&#3607;&#3629;&#3634;&#3619;&#3660;&#3648;&#3629;&#3655;&#3585;&#3595;&#3660;</option>
    <option value="ทุนพระมนตรี">&#3607;&#3640;&#3609;&#3614;&#3619;&#3632;&#3617;&#3609;&#3605;&#3619;&#3637;</option>
    <option value="ทุนชมรมศิษย์เก่าคณะเภสัชศาสตร์มมส.">&#3607;&#3640;&#3609;&#3594;&#3617;&#3619;&#3617;&#3624;&#3636;&#3625;&#3618;&#3660;&#3648;&#3585;&#3656;&#3634;&#3588;&#3603;&#3632;&#3648;&#3616;&#3626;&#3633;&#3594;&#3624;&#3634;&#3626;&#3605;&#3619;&#3660;&#3617;&#3617;&#3626;.</option>
    <option value="ทุนภูมิพล">&#3607;&#3640;&#3609;&#3616;&#3641;&#3617;&#3636;&#3614;&#3621;</option>
    <option value="-">-</option>
  </select>
  </span> และ หรือ
  <select name="select4" size="1">
    <option value="เรียนดีระดับมหาวิทยาลัย">&#3648;&#3619;&#3637;&#3618;&#3609;&#3604;&#3637;&#3619;&#3632;&#3604;&#3633;&#3610;&#3617;&#3627;&#3634;&#3623;&#3636;&#3607;&#3618;&#3634;&#3621;&#3633;&#3618;</option>
    <option value="เรียนดีระดับคณะเภสัชศาสตร์">&#3648;&#3619;&#3637;&#3618;&#3609;&#3604;&#3637;&#3619;&#3632;&#3604;&#3633;&#3610;&#3588;&#3603;&#3632;&#3648;&#3616;&#3626;&#3633;&#3594;&#3624;&#3634;&#3626;&#3605;&#3619;&#3660;</option>
    <option value="ผู้มีจิตอาสาประจำชั้นปี">&#3612;&#3641;&#3657;&#3617;&#3637;&#3592;&#3636;&#3605;&#3629;&#3634;&#3626;&#3634;&#3611;&#3619;&#3632;&#3592;&#3635;&#3594;&#3633;&#3657;&#3609;&#3611;&#3637;</option>
    <option value="-">-</option>
  </select>
      และ หรือ <span class="style8">
      <select name="select6" size="1">
    <option value="วิชาการ">&#3623;&#3636;&#3594;&#3634;&#3585;&#3634;&#3619;</option>
    <option value="วิชาชีพ">&#3623;&#3636;&#3594;&#3634;&#3594;&#3637;&#3614;</option>
    <option value="บำเพ็ญประโยชน์">&#3610;&#3635;&#3648;&#3614;&#3655;&#3597;&#3611;&#3619;&#3632;&#3650;&#3618;&#3594;&#3609;&#3660;</option>
    <option value="ทำนุบำรุงศิลปวัฒนธรรม">&#3607;&#3635;&#3609;&#3640;&#3610;&#3635;&#3619;&#3640;&#3591;&#3624;&#3636;&#3621;&#3611;&#3623;&#3633;&#3602;&#3609;&#3608;&#3619;&#3619;&#3617;</option>
    <option value="กีฬา">&#3585;&#3637;&#3628;&#3634;</option>
    <option value="อื่นๆ (ระบุ)	">&#3629;&#3639;&#3656;&#3609;&#3654; (&#3619;&#3632;&#3610;&#3640;) </option>
  </select>
  </span> <br />
  และ หรือ
  <select name="select10" size="1">
    <option>&#3605;&#3635;&#3649;&#3627;&#3609;&#3656;&#3591;&#3651;&#3609;&#3626;&#3650;&#3617;&#3626;&#3619;-------------</option>
    <option value="นายกสโมสรนิสิต">&#3609;&#3634;&#3618;&#3585;&#3626;&#3650;&#3617;&#3626;&#3619;&#3609;&#3636;&#3626;&#3636;&#3605;</option>
    <option value="อุปนายกสโมสรนิสิต">&#3629;&#3640;&#3611;&#3609;&#3634;&#3618;&#3585;&#3626;&#3650;&#3617;&#3626;&#3619;&#3609;&#3636;&#3626;&#3636;&#3605;</option>
    <option value="เหรัญญิกสโมสรนิสิต">&#3648;&#3627;&#3619;&#3633;&#3597;&#3597;&#3636;&#3585;&#3626;&#3650;&#3617;&#3626;&#3619;&#3609;&#3636;&#3626;&#3636;&#3605;</option>
    <option value="เลขานุการสโมสรนิสิต">&#3648;&#3621;&#3586;&#3634;&#3609;&#3640;&#3585;&#3634;&#3619;&#3626;&#3650;&#3617;&#3626;&#3619;&#3609;&#3636;&#3626;&#3636;&#3605;</option>
    <option value="วิชาการ">&#3623;&#3636;&#3594;&#3634;&#3585;&#3634;&#3619;</option>
    <option value="วิชาชีพ">&#3623;&#3636;&#3594;&#3634;&#3594;&#3637;&#3614;</option>
    <option value="สันทนาการ">&#3626;&#3633;&#3609;&#3607;&#3609;&#3634;&#3585;&#3634;&#3619;</option>
    <option value="ประเมินผล">&#3611;&#3619;&#3632;&#3648;&#3617;&#3636;&#3609;&#3612;&#3621;</option>
    <option value="กีฬา">&#3585;&#3637;&#3628;&#3634;</option>
    <option>&#3605;&#3635;&#3649;&#3627;&#3609;&#3656;&#3591;&#3651;&#3609;&#3594;&#3633;&#3657;&#3609;&#3611;&#3637;--------------</option>
    <option value="หัวหน้าชั้นปี">&#3627;&#3633;&#3623;&#3627;&#3609;&#3657;&#3634;&#3594;&#3633;&#3657;&#3609;&#3611;&#3637;</option>
    <option value="เหรัญญิกชั้นปี">&#3648;&#3627;&#3619;&#3633;&#3597;&#3597;&#3636;&#3585;&#3594;&#3633;&#3657;&#3609;&#3611;&#3637;</option>
    <option value="ผู้ประสานงานรายวิชา">&#3612;&#3641;&#3657;&#3611;&#3619;&#3632;&#3626;&#3634;&#3609;&#3591;&#3634;&#3609;&#3619;&#3634;&#3618;&#3623;&#3636;&#3594;&#3634;</option>
  </select> 
  และ หรือ 
  <label>
  <select name="select2" size="1" id="select">
    <option value="----------">กีฬาที่ชอบ</option>
    <option value="ฟุตบอล">ฟุตบอล</option>
    <option value="บาสเก็ตบอล ">บาสเก็ตบอล </option>
    <option value="วอลเล่ย์บอล">วอลเล่ย์บอล</option>
    <option value="แบดมินตัน">แบดมินตัน</option>
    <option value="อื่นๆ ">อื่นๆ </option>
  </select> 
  และ หรือ 
  <select name="select3" size="1" id="select2">
    <option value="-----">ความสามารถพิเศษ</option>
    <option value="ดนตรี ">ดนตรี </option>
    <option value="กีฬา">กีฬา</option>
    <option value="ภาษา">ภาษา</option>
    <option value="คอมพิวเตอร์ ">คอมพิวเตอร์ </option>
  </select>
และ หรือ 
<select name="select5" size="1" id="select3">
  <option value="-----">ผ่านการเรียนรด.</option>
  <option value="เรียน">เรียน</option>
  <option value="ไม่เรียน">ไม่เรียน</option>
</select>
และ หรือ 
<select name="select7" size="1" id="select4">
  <option value="-----">ผ่อนผันทหาร</option>
  <option value="ยังไม่ผ่อนผัน">ผ่อนผันแล้ว</option>
</select>
  </label>
  <input type="submit" name="button" id="button" value="ค้นหา" />
        </form></td>
  </tr>
  <tr>
    <td height="21" bgcolor="#CCFFCC">&nbsp;</td>
  </tr>
  <tr>
    <td height="21" bgcolor="#CCFFCC"><table width="491" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC">
      <tr>
        <td width="85" bgcolor="#FF9900"><div align="center"><span class="style8">ลำดับ</span></div></td>
        <td width="236" bgcolor="#FF9900"><span class="style8">ชื่อ</span></td>
        <td width="156" bgcolor="#FF9900"><span class="style8">รหัสนิสิต</span></td>
        </tr>
      <tr>
        <td bgcolor="#EAEAEA"><div align="center"><span class="style8">1</span></div></td>
        <td bgcolor="#EAEAEA"><span class="style8">aaaaa aaaaa</span></td>
        <td bgcolor="#EAEAEA"><span class="style8">1234567890</span></td>
        </tr>
      <tr>
        <td bgcolor="#FFFFFF"><div align="center"><span class="style8">2</span></div></td>
        <td bgcolor="#FFFFFF"><span class="style8">bbbb bbbb</span></td>
        <td bgcolor="#FFFFFF"><span class="style8">1234567890</span></td>
        </tr>
      <tr>
        <td bgcolor="#EAEAEA"><div align="center"><span class="style8">3</span></div></td>
        <td bgcolor="#EAEAEA"><span class="style8">cccc cccc</span></td>
        <td bgcolor="#EAEAEA"><span class="style8">1234567890</span></td>
        </tr>
      <tr>
        <td bgcolor="#FFFFFF"><div align="center"><span class="style8">4</span></div></td>
        <td bgcolor="#FFFFFF"><span class="style8">dddd dddd</span></td>
        <td bgcolor="#FFFFFF"><span class="style8">1234567890</span></td>
        </tr>
      <tr>
        <td bgcolor="#EAEAEA"><div align="center"><span class="style8">5</span></div></td>
        <td bgcolor="#EAEAEA"><span class="style8">eeee eeee</span></td>
        <td bgcolor="#EAEAEA"><span class="style8">1234567890</span></td>
        </tr>
      <tr>
        <td bgcolor="#FFFFFF"><div align="center"><span class="style8">6</span></div></td>
        <td bgcolor="#FFFFFF"><span class="style8">ffff ffff</span></td>
        <td bgcolor="#FFFFFF"><span class="style8">1234567890</span></td>
        </tr>
      <tr>
        <td bgcolor="#EAEAEA"><div align="center"><span class="style8">7</span></div></td>
        <td bgcolor="#EAEAEA"><span class="style8">gggg gggg</span></td>
        <td bgcolor="#EAEAEA"><span class="style8">1234567890</span></td>
        </tr>
      <tr>
        <td bgcolor="#FFFFFF"><div align="center"><span class="style8">8</span></div></td>
        <td bgcolor="#FFFFFF"><span class="style8">hhhh hhhh</span></td>
        <td bgcolor="#FFFFFF"><span class="style8">1234567890</span></td>
        </tr>
      <tr>
        <td bgcolor="#EAEAEA"><div align="center"><span class="style8">9</span></div></td>
        <td bgcolor="#EAEAEA"><span class="style8">iiii iiii</span></td>
        <td bgcolor="#EAEAEA"><span class="style8">1234567890</span></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td height="21" bgcolor="#CCFFCC">&nbsp;</td>
  </tr>
</table>
</body>
</html>
